html {
  background-color: #cce3ff;
}

#navbar {
  width: 100%;
  background-color: #87bfff;
}

#navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#navbar ul li {
  flex: 1;
  text-align: center;
  font-size: 1em;
}

#navbar ul li a {
  display: block;
  padding: 1em 0;
  text-decoration: none;
  color: #004aad;
  font-family: "Trebuchet MS", sans-serif;
}

#navbar ul li a:hover {
  background-color: #b3d1ff;
  color: #002f6c;
}

#home-header {
  text-align: center;
  background-color: #a7ceff;
  color: #003366;
  font-family: "Lucida Bright", serif;
  border-bottom: 3px solid #005f99;
  padding: 0.4em 0;
}
#home-header h1{
  font-family: "Lucida Bright", serif;
  font-size: 2.5em;
  margin-bottom: 0.2em;
}

h1 {
  text-align: center;
  font-size: 2.8rem;
  color: #005f99;
  font-family: "Lucida Bright", serif;
  margin: 2rem 0;
}

p {
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;   
  text-align: center;    
  gap: 1rem;             
}

.container2 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
  text-align: center;
}

#container2 p {
  border: 2px solid #66a3ff;
  border-radius: 8px;
  padding: 10px 18px;
  margin: 8px;
  width: 200px;
  line-height: 1.4;
  background-color: #e6f0ff;
}

.images {
  width: 250px;      
  height: 330px;      
  object-fit: cover;  
  border-radius: 10px;
  border: 2px solid #66a3ff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  margin: 10px;
}


#footer {
  border-top: 3px solid #005f99;
  padding: 12px;
  text-align: center;
}

@media (min-width: 600px) {
    #main-nav ul li {
        font-size: 1.2em;
    }

    h1 {
        font-size: 3.5rem;
    }

    #container2 p {
        width: 250px;
    }
}

@media (min-width: 900px) {
    #main-nav ul {
        justify-content: space-between;
    }

    .container {
        flex-wrap: nowrap;
    }

    p {
        font-size: 1.2em;
    }
}