html {
    background-color: #cce3ff;
}

#main-nav {
    width: 100%;
    background-color: #87bfff;
}

#main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;                  
    justify-content: space-around;  
    align-items: center;           
}

#main-nav ul li {
    flex: 1;
    text-align: center;
    font-size: 1em;
}

#main-nav ul li a {
    display: block;
    padding: 1em 0;
    text-decoration: none;
    color: #004080;
    font-family: "Trebuchet MS", sans-serif;
}

#main-nav ul li a:hover {
    background-color: #bcdfff;
    color: #002b5c;
}

#wrapper {
    max-width: 850px;
    margin: 20px auto; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px; 
    background-color: #a7ceff;
    padding: 20px;
    border-bottom: 3px solid #005f99; 
}

#map {
    width: 800px;
    height: 500px; 
    background-color: #eaf4ff; 
    border: 2px solid #66a3ff;
}

#canvas {
    width: 800px;
    height: 500px;
    background-color: #bcdfff;
    border: 2px solid #66a3ff;
}

#questionButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #87bfff;
    color: #003366;
    border: 2px solid #005f99;
    border-radius: 6px;
    font-family: "Trebuchet MS", sans-serif;
}

#questionButton:hover {
    background-color: #bcdfff;
    color: #002b5c;
}
