html {
    background-color: #cce3ff;
}

#navbar {
  width: 100%;
  background-color: #87bfff;
}

#navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#navbar ul li {
    flex: 1;
    text-align: center;
    font-size: 1em;
}

#navbar ul li a {
    display: block;
    padding: 1em 0;
    text-decoration: none;
    color: #004080;
    font-family: "Trebuchet MS", sans-serif;
}

#navbar ul li a:hover {
    background-color: #bcdfff;
    color: #002b5c;
}

body {
  margin: 0;
  padding: 0;
}

#songs-header {
  text-align: center;
  background-color: #a7ceff;
  color: #003366;
  font-family: "Lucida Bright", serif;
  padding: 0.4em 0;
  border-bottom: 3px solid #005f99;
}
#songs-header h1{
  font-family: "Lucida Bright", serif;
  font-size: 2.5em;
  margin-bottom: 0.2em;
}

h1 {
    text-align: center;
    color: #003366;
    font-size: 3em;
    font-family: "Lucida Bright", serif;
    padding: 0.4em 0;
}

p {
    font-size: 1.5em;
    color: #004080;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    border-left: 4px solid #66a3ff;
    background-color: #eaf4ff;
    padding-left: 10px;
    margin: 20px;
}

ol {
    background-color: #eaf4ff;
    border: 2px solid #66a3ff;
    border-radius: 6px;
    padding: 15px 30px;
    width: 80%;
    margin: 20px auto;
}

ol li {
    font-size: 1.4em;
    color: #003f7f;
    margin-bottom: 10px;
}

ol li ul {
    list-style: square;
    padding-left: 1.5rem;
}
ol li ul li {
    font-size: 1.2em;
    color: #005f99;
    margin-bottom: 6px;
}